<div class="prev-next-story">
  <a class="prev-next-story-img" href="{{url}}" style="background-image: url({{#if feature_image}}{{feature_image}}{{else}}{{asset 'images/default_cover.jpg'}}{{/if}})"></a>
  <div class="prev-next-story-info">
    <a class="prev-next-btn" href="{{url}}">上一篇</a>
    <a class="prev-next-text" href="{{url}}">{{title}}</a>
    <p class="prev-next-date">发表于 {{date format="YYYY/MM/DD"}}</p>
  </div>
</div>