<div class="prev-next-story">
  <a class="prev-next-story-img" href="{{url}}" {{#if feature_image}} style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}"></a>
  <div class="prev-next-story-info">
    <a class="prev-next-btn" href="{{url}}">下一篇</a>
    <a class="prev-next-text" href="{{url}}">{{title}}</a>
    <p class="prev-next-date">发表于 {{date format="YYYY/MM/DD"}}</p>
  </div>
</div>