{{!< default}}
<header
  style="background-image: url({{#if author.cover_image}}{{author.cover_image }}{{else}}{{@blog.cover_image}}{{/if}})"
  class="tag-header">
  {{navigation}}
  <div class="tag-header-container">
    <div class="tag-content">
      {{#if author.profile_image}}
      <img class="author-profile-image" src="{{author.profile_image}}" alt="{{author.name}}" />
      {{else}}
      <img class="author-profile-image" src="{{asset 'images/default_head.png'}}" alt="{{author.name}}" />
      {{/if}}
      <h1 class="tag-title">{{author.name}}</h1>
      {{#if author.bio}}
      <h2 class="tag-description">
        {{author.bio}}
      </h2>
      {{/if}}
    </div>
    <div class="tag-post-num">
      <i class="fa fa-signal"></i><span>共 {{pagination.total}} 篇文章</span>
    </div>
  </div>
</header>
<div class="site-content">
  {{> loop}}
</div>